@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.top .links a {
    text-decoration: none;
    color: var(--primary);
    transition: .5s;
}

.top .links a:hover {
    color: var(--secondary);
}

.titletext {
    text-align: center;
    font-size: 2em;
    padding-bottom: 40px;
}

.titletext h1 {
    font-family: 'Comic Sans MS', cursive;
}

.titletext span {
    color: #DEF3FA;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    background: var(--bg);
    padding: 0.2px;
}

.card {
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #fff;
}

.card__header {
    overflow: hidden;
}

.card__image {
    width: 100%;
    height: auto;
}

.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
    background: var(--secondary);
    color: #fff;
}

.tag + .tag {
    margin-left: .5em;
}

.card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}

.user {
    display: flex;
    gap: .5rem;
}

.user__image {
    border-radius: 50%;
}

.user__info > small {
    color: #666;
}

@media (max-width: 911px) {
    .titletext {
        padding-bottom: 20px;
    }

    .container {
        padding: 10px;
    }
}
