.style_1 {
  list-style-type: none;
  padding-left: 0;
}

.style_1 > li {
  margin-bottom: 20px;
  font-size: 27px;
}

.style_1 > li > ol > li {
  margin-left: 20px;
  font-size: 18px;
  color: #555; 
}